.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid $lightGrey--border;
  height: 90px;

  &__social-media,
  &__search {
    display: none;
  }

  &__logo {
    padding: 1em 0;

    &__top {
      display: flex;
      align-items: center;
      font-size: .75rem;
      color: white;

      p, time {
        padding: .25em .35em;
      }

      p {
        margin: 0;
        background-color: black;
        word-spacing: 1em;
        margin-right: .25em;
      }

      time {
        background-color: $red;
        padding-left: 6em;
      }
    }

    &__bottom {
      p {
        font-size: 2.5em;
        font-weight: 300;

        span {
          color: $red;
        }
      }
    }
  }

  &__links {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 1000;
      background-color: $red;
      text-align: center;
      transform: scale(0);
      transform-origin: top right;
      transition: transform .3s ease-out .2s;
  }

  &__link {
    display: block;
    color: white;
    padding: 1.25em 0;
  }

  &__link:hover {
    background-color: white;
    color: $red;
  }
}

.menu-icon {
  width: 40px;

  &:hover {
    + .main-header__links {
      transform: scale(1);
    }
  }
}
