// Main Colors
$red: #F22929;
$purple: #B029F2;
$blue: #2944F2;
$grey: #262729;
$lightGrey: #323336;

// Font Colors
$grey--font: #3B3D40;
$lightGrey--font: #6A6A6A;


// Border Colors
$grey--border: #95989A;
$lightGrey--border: #E4E4E4;

// Header Social Media
$facebook: #3B5998;
$youtube: #D3373C;
$instagram: #C823D4;

// Currency Comparison
$positive: #109858;
$negative: #C3150C;
